.btn {
    background-color: #4a90e2;
    color: #ffffff;
    border: 1px solid #4a90e2;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .btn:hover {
    background-color: #3682ca;
    border-color: #3682ca;
  }
  
  .feed-sec{
    -webkit-overflow-scrolling:touch;
    
  }